body,p,ul,h1,h2,h3,h4,h5,h6,ol,dl,dd,form,input,ul,ol{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;

}
img{
	border:none;
}
*{
	font-size: 16px;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	color:#000000;
}